.eventGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  position: relative;
  margin: 0 auto;
  padding: 2.5rem;
  justify-content: center;
  width: 85%;
}

@media (max-width: 1024px) {
  .eventGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .eventGrid {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-y: auto;

    scroll-snap-type: y mandatory;
    justify-content: center;
    gap: 0.6rem;
  }

  .eventGrid > * {
    scroll-snap-align: start;
  }
}
