.eventGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 12px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px;
  justify-content: center;
}

@media (max-width: 768px) {
  .eventGrid {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 200px);
    overflow-y: auto;

    scroll-snap-type: y mandatory;
    justify-content: center;
    gap: 0.6rem;
  }

  .eventGrid > * {
    scroll-snap-align: start;
  }
}

.eventGrid::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 50%;
  align-items: center;

  width: 100vw;
  height: 1px;
  background: rgb(234, 215, 215);
  margin-left: -50vw;
  margin-right: -50vw;
}
