version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: eventynet-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - eventynet_mysql_data:/var/lib/mysql

volumes:
  eventynet_mysql_data: